<% include header %>
    <h1><%= title %></h1>
    <p>Welcome to <%= pagetitle %></p>
    <a href='/newInventory'>Create new keg inventory</a>
    <a href='/viewInventory'>View inventory</a>
    <a href='/modInventory'>Update keg inventory</a>
<% include footer %>
