<% include header %>
    <a href='/'>Home</a>
    <a href='/viewInventory'>View inventory</a>
    <a href='/modInventory'>Update keg inventory</a>
    <h2>Initialize new kegs</h2>
    <div class='multiform'>
        <form id='newInvForm'>
            <div class='multiforminputs'>
                    <label for='userID'>User ID: </label>
                    <input id='userID' placeholder='User ID #'>
            </div>
            <div class='multiforminputs'>
                <label for='newInvSize'>Number: </label>
                <input id='newInvSize' placeholder='Number of new kegs'>
            </div>
            <div class='multiforminputs'>
                <label for='kegType'>Type: </label>
                <select id='kegType' name='kegType'>
                    <option value='half'>Half barrel</option>
                    <option value='sixth'>Sixth barrel</option>
                    <option value='firkin'>Firkin</option>
                </select>
            </div>
            <div class='multiforminputs'>
                <label for='nameScheme'>Naming scheme: </label>
                <select id='nameScheme'>
                    <option value='startOne'>Count from 1</option>
                    <option value='alphaNum' disabled>4-place alphanumeric</option>
                </select>
            </div>
            <div class='multiforminputs'>
                    <label for='addToInvCheck'>Add to existing inventory: </label>
                    <input type='checkbox' id='addToInvCheck'>
                    <p id='errorDialog' class='errorDialog'></p>
                </div>
            <div>
                <button type='button' class='formbutton' id='createNewInv'>Create</button>
            </div>
        </form>
    </div>
    <script src='javascripts/newInv.js'></script>
<% include footer %>
