<% include header %>
    <h2>View inventory</h2>
    <div class='multiform'>
        <form id='viewInvForm'>
            <div class='multiforminputs'>
                <label for='searchBy'>Search by: </label>
                <br>
                <select id='searchBy' name='searchBy'>
                    <option value='id'>Keg ID</option>
                    <option value='style'>Style/contents</option>
                    <option value='batchid'>Batch ID</option>
                    <option value='location'>Location</option>
                    <option value='condition'>Status</option>
                    <!-- <option value='all'>View all</option> use Search all button for now-->
                </select>
            </div>
            <div class='multiforminputs'>
                <label for='searchTerm'>Search term: </label>
                <br>
                <input id='searchTerm' placeholder='(ID #, location, etc.)'>
                <div class='errorDialog' id='searchTermWarning'></div>
            </div>
            <div>
                <button type='button' class='formbutton' id='showallButton'>Show all</button>
                OR
                <button type='button' class='formbutton' id='searchButton'>Search</button>
                <button type='button' class='formbutton' id='resetButton'>Reset</button>
            </div>
        </form>
    </div>
    <div class='catalog' id='invSearchResults'>
            <table>  
                <thead> 
                    <tr><th>Keg ID</th> 
                        <th>Keg type</th> 
                        <th>Status</th> 
                        <th>Style</th> 
                        <th>Batch ID</th> 
                        <th>Location</th>
                    </tr> 
                </thead>
            </table>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src='javascripts/viewInv.js'></script>
<% include footer %>
